**.iml
.idea/**
target/**
**.class
**.lst


.idea/misc.xml

*.class

*.jar

*.class

target/classes/com/stagegage/services/dto/ArtistDto.class

.idea/workspace.xml

Artist-Service.iml

target/artist-service-1.0-SNAPSHOT.jar

target/classes/com/stagegage/services/dto/response/ArtistResponse.class

target/classes/com/stagegage/services/repository/ArtistRepository.class

target/classes/com/stagegage/services/resource/ArtistResource.class

target/classes/com/stagegage/services/service/ArtistService.class

target/maven-archiver/pom.properties

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
